/* Light theme */
[data-bs-theme="light"] body {
  --bg-color: #f7f7f9; /* Ghost White */
  --content-h1: #31b1ff; /* Color for h1 */
  --content-h2: #ff341c; /* Color for h2 */
  --content-h3: #333333; /* Color for h3 and paragraph text */
  --content-paragraph: #333333; /* Color for paragraphs */
  --content-bullet: #31b1ff; /* Color for bullets */
  --text-color: #2e2e2e; /* Dark Charcoal */
  --header-bg: #ff4500; /* Orange Red */
  --header-text: #ffffff; /* White */
  --footer-link-color: #ff6347; /* Tomato */
  --footer-link-hover-color: #ff7f50; /* Coral */
  --button-primary-bg: #4b4b4b; /* new primary color */
  --button-primary-text: #ffffff;
  --button-primary-hover-bg: #5a5a5a;
  --button-secondary-bg: #32cd32; /* Lime Green */
  --button-secondary-hover-bg: #006400; /* Dark Green */
  --mention-color-light: #000000; /* Default text color for mentions */
  --mention-bg: #e0e0e0; /* Background color for mentions */
  --at-color-light: #007bff; /* Color for '@' symbol */
  --username-color-light: #ff341c; /* Color for username */
  --mention-hover-bg: #d0d0d0; /* Hover background color for mentions */

  --highlight-bg: rgba(255, 165, 0, 0.5); /* Semi-transparent Orange */
  --highlight-text: #000000; /* Black */
  --no-results-color: #2e2e2e; /* Dark Charcoal */
  --news-ticker-bg: #ff4500; /* Orange Red */
  --news-ticker-text: #ffffff; /* White */
  --selection-bg: #b0e0e6; /* Powder Blue */
  --selection-text: #000000; /* Black */
  --glow-color: #ffc107; /* glow color, same as primary color */
  --custom-header-color: #ffcc00; /* Goldenrod Yellow */
  --custom-subheader-color: #ffaa00; /* Amber */
  --custom-icon-color: #ff8800; /* Dark Orange */
  --at-color-light: #ff6600; /* Bright Orange */
  --username-color-light: #cc4400; /* Burnt Orange */
  --reddit-color: #ff4500; /* Reddit Orange */
  --discord-color: #7289da; /* Discord Blurple */
  --wiki-color: #1a73e8; /* Wiki Blue */
  --github-color: #333333; /* GitHub Black */
  --hover-bg-color: #fe94002e; /* Semi-transparent Dark Orange */

  --gray-100: #f9f9f9; /* Very Light Gray */
  --gray-200: #eeeeee; /* Lighter Gray */
  --gray-300: #dddddd; /* Light Gray */
  --gray-400: #cccccc; /* Gray */
  --gray-500: #bbbbbb; /* Medium Gray */
  --gray-600: #aaaaaa; /* Slate Gray */
  --gray-700: #999999; /* Dark Gray */
  --gray-800: #888888; /* Darker Gray */
  --gray-900: #777777; /* Very Dark Gray */
}

/* Dark theme */
[data-bs-theme="dark"] body {
  --bg-color: #222222; /* Dark Gray */
  --content-h1: #31b1ff; /* Lighter blue for dark mode */
  --content-h2: #fa523f; /* Softer red for dark mode */
  --content-h3: #e0e0e0; /* Light gray for h3 and paragraph text */
  --content-paragraph: #e0e0e0; /* Light gray for paragraphs */
  --content-bullet: #1e90ff; /* Lighter blue for bullets */
  --text-color: #ffffff; /* White */
  --header-bg: #8b0000; /* Dark Red */
  --header-text: #ffffff; /* White */
  --footer-link-color: #ff6347; /* Tomato */
  --footer-link-hover-color: #ff7f50; /* Coral */
  --button-primary-bg: #032b44;
  --button-primary-text: #ffffff; /* white text color */
  --button-primary-hover-bg: #054b6e; /* darker grey hover color for dark mode */
  --button-secondary-bg: #32cd32; /* Lime Green */
  --button-secondary-hover-bg: #006400; /* Dark Green */
  --mention-color-dark: #ff6f61; /* Bright Orange */
  --mention-bg: #1e1e1e; /* Dark Slate Blue */
  --at-color-dark: #ffd700; /* Bright Yellow for '@' symbol */
  --username-color-dark: #ff4500; /* Bright Orange Red for username */

  --highlight-bg: rgba(255, 165, 0, 0.4); /* Semi-transparent Orange */
  --highlight-text: #ffffff; /* White */
  --news-ticker-bg: #ff4500; /* Orange Red */
  --news-ticker-text: #ffffff; /* White */
  --selection-bg: #4682b4; /* Steel Blue */
  --selection-text: #ffffff; /* White */
  --glow-color: #4b4b4b; /* glow color, same as dark mode primary color */

  --at-color-dark: #ff6600; /* Bright Orange */
  --username-color-dark: #cc4400; /* Burnt Orange */
  --hover-bg-color: #5a5a5a; /* Dim Gray */

  --reddit-color: #ff4500; /* Reddit Orange */
  --discord-color: #7289da; /* Discord Blurple */
  --wiki-color: #8ab4f8; /* Lighter Wiki Blue */
  --github-color: #ffffff; /* GitHub White */

  --gray-100: #333333; /* Very Dark Gray */
  --gray-200: #444444; /* Darker Gray */
  --gray-300: #555555; /* Dark Gray */
  --gray-400: #666666; /* Gray */
  --gray-500: #777777; /* Medium Gray */
  --gray-600: #888888; /* Slate Gray */
  --gray-700: #999999; /* Light Slate Gray */
  --gray-800: #aaaaaa; /* Light Gray */
  --gray-900: #bbbbbb; /* Very Light Gray */
}

.bi-moon-stars-fill {
  color: #ffffffaf; /* or any other bright color */
}
.text-custom-header {
  color: var(--custom-header-color);
}

.border-custom-header {
  border-color: var(--custom-header-color);
}

.text-custom-subheader {
  color: var(--custom-subheader-color);
}

.text-custom-icon {
  color: var(--custom-icon-color);
}

/* Override Bootstrap's btn-primary class */
.btn-primary {
  background-color: var(--button-primary-bg);
  border-color: var(--button-primary-bg);
  color: var(--button-primary-text);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: var(--button-primary-hover-bg);
  border-color: var(--button-primary-hover-bg);
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(var(--glow-color), 0.5);
}
.btn-custom {
  background-color: #007bff; /* Light theme background color */
  color: white; /* Light theme text color */
  border: none; /* Remove default border if needed */
}

.btn-custom:hover {
  background-color: #0056b3; /* Darker blue on hover for light mode */
  color: white; /* Keep text color white */
}

/* Dark theme styles */
[data-bs-theme="dark"] .btn-custom {
  background-color: #0056b3; /* Dark theme background color */
  color: #fff; /* Dark theme text color */
}

[data-bs-theme="dark"] .btn-custom:hover {
  background-color: #004494; /* Darker color on hover for dark mode */
  color: #fff; /* Keep text color visible */
}

/* Style for the dropdown toggle link */
.nav-link.dropdown-toggle {
  color: #ffffff;
  transition: color 0.3s, background-color 0.3s;
}

.nav-link.dropdown-toggle:hover {
  color: #ffd700; /* Change to a gold color on hover */
  background-color: #727272; /* Slightly darker background on hover */
}

/* Common styles for the dropdown */
.changelog-dropdown {
  min-width: 500px;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Light theme styles */
html[data-bs-theme="light"] .changelog-dropdown-item {
  color: #000000;
  padding: 10px 15px;
  white-space: normal; /* Allow text to wrap */
  transition: background-color 0.3s, color 0.3s;
}

html[data-bs-theme="light"] .changelog-dropdown-item:nth-child(odd) {
  background-color: #f9f9f9; /* Light gray for odd items */
}

html[data-bs-theme="light"] .changelog-dropdown-item:nth-child(even) {
  background-color: #e6f7ff; /* Light blue for even items */
}

html[data-bs-theme="light"] .changelog-dropdown-item:hover {
  background-color: #cce7ff; /* Slightly darker blue on hover */
  color: #0056b3; /* Text color on hover */
}

/* Dark theme styles */
html[data-bs-theme="dark"] .changelog-dropdown-item {
  color: #ffffff;
  padding: 10px 15px;
  white-space: normal; /* Allow text to wrap */
  transition: background-color 0.3s, color 0.3s;
}

html[data-bs-theme="dark"] .changelog-dropdown-item:nth-child(odd) {
  background-color: #3a3f45; /* Dark gray for odd items */
}

html[data-bs-theme="dark"] .changelog-dropdown-item:nth-child(even) {
  background-color: #4a4f55; /* Slightly lighter gray for even items */
}

html[data-bs-theme="dark"] .changelog-dropdown-item:hover {
  background-color: #5c6269; /* Darker background on hover */
  color: #ffdd57; /* Gold text color on hover */
}

/* Style for the dropdown items */
.dropdown-item {
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background-color: #f8f9fa; /* Light background on hover */
  color: #0056b3; /* Text color on hover */
  font-weight: bold;
}

/* Ensure full width for each dropdown item */
.changelog-dropdown-item {
  width: 100%;
}

#sidebar-image-wrapper .card {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}

#sidebar-image-wrapper .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}

#sidebar-image-wrapper .card:hover {
  transform: scale(1.05) rotateY(5deg);
}

#sidebar-image-wrapper .card:hover::before {
  transform: translateY(0);
}

#sidebar-image-wrapper .card img {
  transition: all 0.5s ease;
}

#sidebar-image-wrapper .card:hover img {
  filter: brightness(1.2) contrast(1.1);
}

.highlight {
  background-color: var(--highlight-bg) !important;
  color: var(--highlight-text) !important;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 3px;
}
.highlight.mention {
  background-color: #e6f3ff;
  color: #0366d6;
  border-radius: 3px;
  padding: 0 2px;
}

#search-results {
  position: sticky;
  top: 0;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000;
}

.custom-search-item {
  cursor: pointer;
  transition: background-color 0.2s;
}

.custom-search-item:hover {
  background-color: var(--hover-bg-color, #f8f9fa);
}

@media (max-width: 768px) {
  .custom-search-item {
    padding: 8px; /* Adjust padding for mobile */
  }
}

#copyChangelog {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#copyChangelog i {
  font-size: 1.25rem;
}

::selection {
  background-color: var(--selection-bg) !important;
  color: var(--selection-text) !important;
}

.glow-effect {
  box-shadow: 0 0 10px rgba(var(--glow-color), 0.5) !important;
}
/* Offcanvas Styling */
.offcanvas {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.offcanvas-header {
  background-color: var(--header-bg);
  color: var(--header-text);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.offcanvas-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.offcanvas-body {
  padding: 0.2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5;
  overflow-y: auto;
}

/* Adjustments for dark mode */
[data-bs-theme="dark"] .offcanvas {
  background-color: #333333;
  color: #e0e0e0;
}

[data-bs-theme="dark"] .offcanvas-header {
  background-color: #4a4a4a;
  color: #ffcc00;
}

/* Light Mode Offcanvas Body Gradient */
[data-bs-theme="light"] .offcanvas-body {
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
  /* A warm and inviting gradient from light peach to soft coral */
  color: var(--text-color); /* Ensure text color remains readable */
}

[data-bs-theme="dark"] .offcanvas-body {
  background-color: #444444;
  color: #e0e0e0;
}

.btn-close {
  color: #ffffff;
}

.btn-close:hover {
  color: #ff6347;
}
.gradient-bg {
  background: linear-gradient(
    to right,
    var(--button-primary-bg),
    var(--button-secondary-bg)
  ) !important;
}

.svg-icon {
  fill: var(--text-color) !important;
  stroke: var(--button-primary-bg) !important;
}

.semi-transparent-bg {
  background-color: rgba(var(--glow-color), 0.5) !important;
}
.custom-spinner {
  border-top-color: #31b1ff; /* Blue */
  border-right-color: #31b1ff; /* Blue */
  border-bottom-color: #ff341c; /* Orange */
  border-left-color: #ff341c; /* Orange */
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: #ffffff;
}

#loading-overlay.show {
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 100vh; /* Optional: full height for overlay */
}

#loading-overlay .loading-logo {
  width: 300px; /* Adjust the width of your logo as needed */
  height: auto; /* Maintain the aspect ratio */
}

#loading-overlay .loading-text {
  font-size: 1.5rem; /* Font size for loading text */
  font-weight: bold; /* Bold text */
  margin-top: 10px; /* Space above loading text */
}

[data-bs-theme="dark"] #loading-overlay {
  background-color: #000000; /* Dark background */
}

[data-bs-theme="light"] #loading-overlay {
  background-color: #ffffff; /* Light background */
}

[data-bs-theme="dark"] #loading-overlay .loading-text {
  color: #ffffff; /* White text in dark theme */
}

[data-bs-theme="light"] #loading-overlay .loading-text {
  color: #000000; /* Black text in light theme */
}

.responsive-heading {
  font-size: 2.5rem;
}

.responsive-text {
  font-size: 1rem;
}

#content-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#content {
  flex: 1;
  min-width: 0;
}

/* Styles for content */
#content h1 {
  color: var(--content-h1);
  font-family: "Bangers", Arial, Helvetica, sans-serif;
  border-bottom: 2px solid var(--content-h1);
}

#content h2 {
  color: var(--content-h2);
  font-family: "Bangers", Arial, Helvetica, sans-serif;
}

#content h3 {
  color: var(--content-h3);
  font-family: Arial, Helvetica, sans-serif;
}

#content p {
  color: var(--content-paragraph);
}

#content .bullet {
  color: var(--content-bullet);
}

#content .sub-bullet {
  color: var(--content-bullet);
}

/* Light mode */
.mention {
  color: var(--mention-color-light);
  background-color: var(--mention-bg);
  transition: background-color 0.3s, color 0.3s;
}

.mention .at {
  color: var(--at-color-light);
}

.mention .username {
  color: var(--username-color-light);
}

.mention:hover {
  background-color: var(--mention-hover-bg);
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Dark mode */
[data-bs-theme="dark"] .mention {
  color: var(--mention-color-dark); /* Bright Orange */
  background-color: var(--mention-bg); /* Dark Slate Blue */
  transition: background-color 0.3s, color 0.3s;
}

[data-bs-theme="dark"] .mention .at {
  color: var(--at-color-dark); /* Bright Yellow for '@' symbol */
}

[data-bs-theme="dark"] .mention .username {
  color: var(--username-color-dark); /* Bright Orange Red for username */
}

[data-bs-theme="dark"] .mention:hover {
  background-color: #9662006c; /* Custom hover background */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.media-tag {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.75em;
  margin-left: 8px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  vertical-align: middle;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.audio-tag {
  background-color: #4a90e2;
}

.video-tag {
  background-color: #50c878;
}

.image-tag {
  background-color: #ffa500;
}

body,
p,
span {
  color: var(--text-color);
}
.custom-navbar-color {
  background-color: #333333;
}
[data-bs-theme="dark"] .custom-navbar-color {
  background-color: #032b44; /* darker blue color for dark mode */
  color: #ffffff; /* white text color */
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#theme-toggle {
  padding: 0.375rem 0.75rem;
  font-size: 1.1rem;
}

.navbar .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.navbar .form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.navbar .input-group-text {
  color: rgba(255, 255, 255, 0.7);
}
#clear-search-button {
  display: none; /* Initially hidden */
  background: transparent;
  cursor: pointer; /* Ensure the cursor is set to pointer */
  border: none;
  padding: 0;
  margin-left: -30px; /* Adjust as needed */
  position: relative;
  z-index: 1000;
  pointer-events: auto;
}

#clear-search-button i {
  font-size: 1.2rem; /* Adjust size as needed */
  transition: color 0.3s;
}

#clear-search-button:hover i {
  color: #333; /* Darker color on hover */
}

/* Common styles for example queries */
.example-queries {
  border-radius: 0.25rem;
  padding: 0.5rem;
  z-index: 1000;
  width: 100%;
  top: 100%;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Light theme styles for example queries */
[data-bs-theme="light"] .example-queries {
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
}

[data-bs-theme="light"] .example-queries p {
  color: var(--text-color);
}

[data-bs-theme="light"] .example-query {
  color: var(--footer-link-color);
}

[data-bs-theme="light"] .example-query:hover {
  color: var(--footer-link-hover-color);
  background-color: var(--gray-200);
}

/* Dark theme styles for example queries */
[data-bs-theme="dark"] .example-queries {
  background-color: var(--gray-200);
  border: 1px solid var(--gray-700);
}

[data-bs-theme="dark"] .example-queries p {
  color: var(--header-text);
}

[data-bs-theme="dark"] .example-query {
  color: var(--footer-link-color);
}

[data-bs-theme="dark"] .example-query:hover {
  color: var(--gray-300);
  background-color: var(--gray-700);
}

/* Common styles for example query links */
.example-query {
  display: block;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: color 0.3s, background-color 0.3s;
}

.example-query:hover {
  text-decoration: none;
}

header {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#main-title {
  font-family: "Bangers", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 2rem;
}

#theme-toggle {
  border: none;
  cursor: pointer;
  color: var(--header-text);
  font-size: 30px;
  margin-left: auto;
}

.input-group {
  position: relative;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: var(--blue-button-bg);
  color: var(--blue-button-text);
  padding: 8px;
  z-index: 100;
}

/* Remove outline for all elements */
* {
  outline: none;
}

/* Specific styles for buttons and interactive elements */
button:focus,
a:focus,
input:focus,
select:focus {
  box-shadow: none;
}

#pageInfoContainer {
  flex: 0 0 auto;
  margin-left: 10px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
/* Footer Styling */
footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 2rem 0;
  border-top: 1px solid var(--border-color);
}
/* Dark Theme Adjustments */
[data-bs-theme="dark"] footer {
  background-color: var(--gray-100);
}

[data-bs-theme="dark"] .footer-section h3 {
  color: var(--footer-link-color);
}
/* Badimo Message Card */
.badimo-message {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.badimo-message .card-header {
  background-color: var(--header-bg);
  color: var(--header-text);
  text-align: center;
  font-weight: bold;
}

.badimo-message .card-body {
  padding: 20px;
  text-align: center;
}

.badimo-message .lead {
  font-size: 1.2rem;
  color: var(--highlight-text);
}

.badimo-message .font-italic {
  font-style: italic;
  color: var(--text-color);
}

.badimo-message .font-weight-bold {
  font-weight: bold;
  color: var(--highlight-text);
}

/* Light Mode Accordion Styling */
[data-bs-theme="light"] .accordion-item {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  background-color: var(--gray-100); /* Light background for accordion */
}

[data-bs-theme="light"] .accordion-button {
  background-color: var(
    --gray-200
  ); /* Slightly darker than the item background */
  color: var(--text-color); /* Dark text for contrast */
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

[data-bs-theme="light"] .accordion-button:not(.collapsed) {
  background-color: var(--gray-300); /* Even darker when expanded */
  color: var(--header-bg); /* Accent color for active state */
}

[data-bs-theme="light"] .accordion-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.25); /* Accent outline on focus */
}

[data-bs-theme="light"] .accordion-body {
  background-color: var(--gray-100); /* Light body for contrast with button */
  color: var(--text-color); /* Dark text */
  padding: 15px;
  border-top: 1px solid var(--gray-300); /* Subtle border for separation */
}

/* Dark Mode Accordion Styling */
[data-bs-theme="dark"] .accordion-item {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  background-color: #2c2c2c; /* Dark background for accordion */
}

[data-bs-theme="dark"] .accordion-button {
  background-color: #3a3a3a; /* Slightly lighter than the item background */
  color: #ffffff; /* White text for better contrast */
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

[data-bs-theme="dark"] .accordion-button:not(.collapsed) {
  background-color: #4a4a4a; /* Even lighter when expanded */
  color: #ffcc00; /* Accent color for active state */
}

[data-bs-theme="dark"] .accordion-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 204, 0, 0.25); /* Accent outline on focus */
}

[data-bs-theme="dark"] .accordion-body {
  background-color: #333333; /* Darker body for contrast with button */
  color: #e0e0e0; /* Light gray text */
  padding: 15px;
  border-top: 1px solid #444444; /* Subtle border for separation */
}
/* Admin Links */
.admin-link {
  color: var(--footer-link-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.admin-link:hover {
  color: var(--footer-link-hover-color);
}

/* Version Info Styling */
.version-info {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.version-info p {
  margin: 0;
}

/* Back to Top Button */
#backToTop {
  display: none; /* Initially hidden */
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--button-primary-bg);
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, display 0.3s;
  z-index: 1000; /* Ensure it's above other content */
}

#backToTop.show {
  display: block; /* Show when the 'show' class is added */
}

#backToTop:hover {
  background-color: var(--button-primary-hover-bg);
}

/* General Link Styles */
.btn-link {
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

/* Reddit Link Styles */
.reddit-link {
  color: var(--reddit-color);
  text-decoration: none;
}

.reddit-link:hover {
  color: #ffffff; /* White text on hover */
  background-color: var(--reddit-color); /* Reddit Orange background */
  transform: scale(1.05); /* Slightly larger */
}

/* Discord Link Styles */
.discord-link {
  color: var(--discord-color);
  text-decoration: none;
}

.discord-link:hover {
  color: #ffffff; /* White text on hover */
  background-color: var(--discord-color); /* Discord Blurple background */
  transform: scale(1.05); /* Slightly larger */
}

/* Wiki Link Styles */
.wiki-link {
  color: var(--wiki-color);
  text-decoration: none;
}

.wiki-link:hover {
  color: #ffffff; /* White text on hover */
  background-color: var(--wiki-color); /* Wiki Blue background */
  transform: scale(1.05); /* Slightly larger */
}

/* GitHub Link Styles */
.github-link {
  color: var(--github-color);
  text-decoration: none;
}

.github-link:hover {
  color: #ffffff; /* White text on hover */
  background-color: #000000; /* True black background */
  transform: scale(1.05); /* Slightly larger */
}

/* Dark Theme Adjustments */
[data-bs-theme="dark"] .github-link:hover {
  background-color: #444c56; /* Lighter gray for better visibility in dark mode */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  .quick-links .btn-link {
    font-size: 0.9rem;
  }

  /* Make changelog dropdown smaller on mobile */
  .changelog-dropdown {
    min-width: 300px; /* Smaller width for mobile */
    max-height: 300px; /* Adjust height if needed */
  }
}
