/* Adjust the body when menu is opened */
body.menu-open {
  overflow: hidden;
}
body {
  background-image: url("https://cdn.jailbreakchangelogs.xyz/backgrounds/background5.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #d3d9d4;
}
.content-wrapper {
  background-color: rgba(33, 42, 49, 0.9); /* #212A31 with opacity */
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.accordion-button {
  background-color: #2e3944 !important;
  color: #d3d9d4 !important;
}
.accordion-button:not(.collapsed) {
  background-color: #124e66 !important;
  color: #d3d9d4 !important;
}
.accordion-body {
  background-color: rgba(46, 57, 68, 0.9); /* #2E3944 with opacity */
  color: #d3d9d4;
}
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.flex-grow {
  flex-grow: 1;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
}
.content-wrapper {
  background-color: rgba(33, 42, 49, 0.9); /* #212A31 with opacity */
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.btn-primary {
  background-color: #124e66 !important;
  border-color: #124e66 !important;
}
.btn-primary:hover {
  background-color: #2e3944 !important;
  border-color: #2e3944 !important;
}
.card {
  background-color: rgba(33, 42, 49, 0.9); /* #212A31 with opacity */
  border-color: #748d92;
}
.card-header {
  background-color: #2e3944;
  border-color: #748d92;
}
.faq-item {
  margin-bottom: 20px;
}
.faq-question,
.faq-answer {
  display: flex;
  align-items: flex-start;
}
.faq-symbol-container {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-symbol {
  width: 40px;
  height: 40px;
  border: 3px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
}

.q-symbol {
  color: #ff341c;
}
.a-symbol {
  color: #31b1ff;
}
.question-text,
.answer-text {
  flex: 1;
  margin: 0;
}

.question-text {
  font-size: 1.2em;
  color: #d3d9d4;
  font-weight: bold;
}
.answer-text {
  font-size: 1em;
  color: #d3d9d4;
}
a {
  color: #748d92;
}
a:hover {
  color: #d3d9d4;
}

.breadcrumb-item a {
  color: #124e66;
}

.breadcrumb-item.active {
  color: #748d92;
}

.accordion-button::after {
  color: #d3d9d4;
}
