.hero {
  position: relative;
  background: url("https://cdn.jailbreakchangelogs.xyz/meta/thumbnail.png")
    no-repeat center center;
  background-size: cover;
  height: 50vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;
}
.hero h1,
.hero p {
  position: relative; /* Position text above the overlay */
  z-index: 2;
}
.feature-icon {
  font-size: 3rem;
}
body {
  background-color: #f8f9fa;
}
.offcanvas-header {
  display: flex; /* Keep the header visible */
  justify-content: space-between; /* Align items properly */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
}

.offcanvas-body {
  background-color: transparent;
  padding: 0;
}

.offcanvas {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Slightly opaque to ensure visibility */
  border: none;
  box-shadow: none;
}

.hero div {
  position: relative;
  z-index: 2; /* Ensures text is on top of the overlay */
}
.cursive {
  font-size: 0.8rem; /* make the text smaller */
  font-style: italic; /* make the text cursive */
}
.navbar-logo {
  height: 50px;
  width: auto;
  transition: height 0.3s ease;
}
.navbar-brand {
  margin-right: 0;
}
.disclaimer {
  font-size: 0.9rem;
  color: #6c757d;
  text-align: center;
  margin-top: 10px;
}

footer a:hover {
  background-color: #333; /* change the background color on hover */
  padding: 5px 10px;
  font-size: 1.1em; /* increase the font size on hover */
  transition: 0.2s ease-in-out; /* add a smooth transition effect */
}

@media (max-width: 991px) {
  .navbar-brand {
    margin-right: auto;
  }

  .navbar-logo {
    height: 40px;
  }
}

@media (max-width: 575px) {
  .navbar-logo {
    height: 35px;
  }
}
