@import "colors.css";

[data-bs-theme="dark"] body {
  --common-bg-color: var(--bg-secondary);
  --content-h1: var(--text-primary);
  --content-h2: var(--text-muted);
  --content-h3: var(--text-muted);
  --content-paragraph: var(--text-primary);
  --content-bullet: var(--text-muted);
  --content-sub-bullet: var(--text-muted);
  --text-color: #ffffff;

  --header-text: #ffffff;
  --button-primary-bg: var(--accent-color);
  --button-primary-text: #eeeeee;
  --button-primary-hover-bg: var(--bg-primary);

  /* Mention Colors */
  --mention-color: var(--text-muted);
  --mention-bg: var(--bg-primary);
  --at-color: var(--text-primary);
  --username-color: #76abae;
  --mention-hover-bg: var(--accent-color);

  /* Gray Scale */
  --gray-100: #333333; /* Very Dark Gray */
  --gray-200: #444444; /* Darker Gray */
  --gray-300: #555555; /* Dark Gray */
  --gray-400: #666666; /* Gray */
  --gray-500: #777777; /* Medium Gray */
  --gray-600: #888888; /* Slate Gray */
  --gray-700: #999999; /* Light Slate Gray */
  --gray-800: #aaaaaa; /* Light Gray */
  --gray-900: #bbbbbb; /* Very Light Gray */
}
/* Remove Outline for All Elements */
* {
  outline: none; /* Remove default outline */
}
.form-control {
  background-color: rgba(255, 255, 255, 0.1); /* Background color */
  border-color: rgba(255, 255, 255, 0.1); /* Border color */
  color: var(--text-primary); /* Text color */
}
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Placeholder color */
}
.input-group-text {
  color: rgba(255, 255, 255, 0.7); /* Color for input group text */
}
/* Input Group Styles */
.input-group {
  position: relative; /* Relative positioning */
}

/* Basic Reset */
body {
  margin: 0;
  padding: 0;
  font-family: var(--bs-body-font-family);
  background-color: var(--bg-secondary); /* Dark background */
  color: var(--text-primary); /* Light text */
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: var(
    --bg-primary
  ) !important; /* Hover state for primary button */
  border-color: var(--bg-primary) !important; /* Border color on hover */
}
.btn-primary {
  background-color: var(
    --button-primary-bg
  ) !important; /* Primary button background */
  border-color: var(--button-primary-bg) !important; /* Primary button border */
  color: var(--button-primary-text) !important; /* Primary button text color */
}

/* Custom checkbox styling when checked */
.form-check-input:checked {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}

/* Adjust the body when menu is opened */

/* Content Wrapper */
.content-wrapper {
  padding: 20px;
}

.table {
  border-collapse: collapse;
  border-radius: 15px; /* Adjust the value for more or less rounding */
}

thead {
  background-color: var(--bg-primary); /* Dark background */
  color: var(--text-primary); /* White text */
  letter-spacing: 1.5px;
}

thead th {
  padding: 15px; /* Padding for header cells */
  text-align: left; /* Align text to the left */
  border: none; /* Remove default borders */
  border-bottom: 2px solid #ffffff; /* White bottom border for separation */
  font-family: "Luckiest Guy", Arial, sans-serif; /* Custom font */
  font-size: 18px; /* Font size for headers */
}

thead th:hover {
  background-color: var(--bg-secondary); /* Change background on hover */
}
h1 {
  font-family: "Luckiest Guy", Arial, sans-serif;
  font-size: 36px; /* Increase font size */
  color: var(--content-h1);
}
/* Table styles */

.table th,
.table td {
  vertical-align: middle; /* Center table content */
  padding: 10px; /* Padding for table cells */
  border: none; /* Remove default borders */
  border-bottom: 1px solid #000000; /* Light gray bottom border for separation */
}

.table-dark {
  background-color: #343a40; /* Darker table background */
}

.table-dark th {
  background-color: #495057; /* Dark header */
}

/* Modal styles */
.modal-content {
  border-radius: 10px; /* Rounded corners for modal */
}

.modal-header {
  border-bottom: none; /* Remove border */
}

.modal-footer {
  border-top: none; /* Remove border */
}

.container {
  border-radius: 15px; /* Rounded corners for the container */
}
.small-button-cell {
  width: 200px; /* Set a specific width for the cell */
}

.medium-button-cell {
  width: 250px;
  max-width: 0px; /* Set a specific width for the cell */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .quick-links .btn-link {
    font-size: 0.9rem; /* Font size for quick links */
  }
}
