/* Light theme */
[data-bs-theme="light"] body {
  --bg-color: #f7f7f9; /* Ghost White */
  --text-color: #2e2e2e; /* Dark Charcoal */
  --header-bg: #ff4500; /* Orange Red */
  --header-text: #ffffff;
  --footer-link-color: #ff6347; /* Tomato */
  --footer-link-hover-color: #ff7f50; /* Coral */
  --button-primary-bg: #ff4500; /* Orange Red */
  --button-primary-text: #ffffff;
  --button-primary-hover-bg: #ff6347; /* Tomato */
  --button-secondary-bg: #32cd32; /* Lime Green */
  --button-secondary-hover-bg: #006400; /* Dark Green */
  --highlight-bg: rgba(255, 165, 0, 0.5); /* Semi-transparent Orange */
  --highlight-text: #000000;
  --border-color: #ff6347;

  --selection-bg: #b0e0e6; /* Powder Blue */
  --selection-text: #000000;
  --glow-color: 255, 99, 71; /* Tomato */
  --hover-bg-color: #fe94002e;

  --gray-100: #f9f9f9;
  --gray-200: #eeeeee;
  --gray-300: #dddddd;
  --gray-400: #cccccc;
  --gray-500: #bbbbbb;
  --gray-600: #aaaaaa;
  --gray-700: #999999;
  --gray-800: #888888;
  --gray-900: #777777;
}

/* Dark theme */
[data-bs-theme="dark"] body {
  --bg-color: #222222; /* Dark Gray */
  --text-color: #ffffff;
  --header-bg: #8b0000; /* Dark Red */
  --header-text: #ffffff;
  --footer-link-color: #ff6347; /* Tomato */
  --footer-link-hover-color: #ff7f50; /* Coral */
  --button-primary-bg: #ff4500; /* Orange Red */
  --button-primary-text: #ffffff;
  --button-primary-hover-bg: #ff6347; /* Tomato */
  --button-secondary-bg: #32cd32; /* Lime Green */
  --button-secondary-hover-bg: #006400; /* Dark Green */
  --selection-bg: #4682b4; /* Steel Blue */
  --selection-text: #ffffff;
  --glow-color: 255, 165, 0; /* Orange */
  --hover-bg-color: #5a5a5a;
  --border-color: #ff6347;

  --reddit-color: #ff4500; /* Reddit Orange */
  --discord-color: #7289da; /* Discord Blurple */
  --wiki-color: #8ab4f8; /* Lighter Wiki Blue */
  --github-color: #ffffff; /* GitHub White */

  --gray-100: #333333;
  --gray-200: #444444;
  --gray-300: #555555;
  --gray-400: #666666;
  --gray-500: #777777;
  --gray-600: #888888;
  --gray-700: #999999;
  --gray-800: #aaaaaa;
  --gray-900: #bbbbbb;
}
/* Back to Top Button */
#backToTop {
  display: none; /* Initially hidden */
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--button-primary-bg);
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, display 0.3s;
  z-index: 1000;
}

#backToTop.show {
  display: block; /* Show when the 'show' class is added */
}

#backToTop:hover {
  background-color: var(--button-primary-hover-bg);
}
.changelog-dropdown {
  min-width: 350px;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

html,
body {
  height: 100%;
  margin: 0;
}

#main-container {
  display: flex;
  flex-direction: column;
}

footer {
  transition: transform 0.3s ease-out;
}

footer.hide {
  transform: translateY(100%);
}

.scrollMe {
  animation: scroll 20s linear infinite; /* adjust duration and add infinite */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.text-custom-header {
  color: var(--custom-header-color) !important;
}

.border-custom-header {
  border-color: var(--custom-header-color) !important;
}

.text-custom-subheader {
  color: var(--custom-subheader-color) !important;
}

.text-custom-icon {
  color: var(--custom-icon-color) !important;
}

/* Override Bootstrap's bg-primary class for navbar */
.navbar {
  background-color: var(
    --header-bg
  ) !important; /* Using your custom variable */
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--header-text) !important; /* Ensures text color is consistent */
}

/* If you want to ensure the navbar brand text color */
.navbar-dark .navbar-brand {
  color: var(--header-text) !important;
}

/* Additional styles for hover effects */
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--footer-link-hover-color);
}

/* Override Bootstrap's btn-primary class */
.btn-primary {
  background-color: var(
    --button-primary-bg
  ) !important; /* Use your custom variable */
  border-color: var(--button-primary-bg) !important;
  color: var(--button-primary-text) !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: var(--button-primary-hover-bg) !important;
  border-color: var(--button-primary-hover-bg) !important;
}

.btn-close {
  color: #ffffff;
}

.btn-close:hover {
  color: #ff6347;
}

.gradient-bg {
  background: linear-gradient(
    to right,
    var(--button-primary-bg),
    var(--button-secondary-bg)
  ) !important;
}

.svg-icon {
  fill: var(--text-color) !important;
  stroke: var(--button-primary-bg) !important;
}

.semi-transparent-bg {
  background-color: rgba(var(--glow-color), 0.5) !important;
}

#loading-overlay {
  position: fixed; /* Make sure the overlay covers the whole viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  z-index: 9999; /* Ensure it is above other content */
  color: #fff; /* Text color */
  font-size: 1.5rem; /* Font size */
  text-align: center; /* Center text */
  /* Hide it by default, will be shown via JS */
  display: none;
}

.spinner-custom {
  width: 3rem; /* Adjust size if needed */
  height: 3rem; /* Adjust size if needed */
  color: var(--button-primary-bg); /* Use primary button background color */
}

#loading-overlay.show {
  display: flex;
}

#loading-overlay .spinner-border {
  width: 5rem;
  height: 5rem;
}

#loading-overlay .loading-text {
  font-size: 1.5rem;
  font-weight: bold;
}

[data-bs-theme="dark"] #loading-overlay {
  background-color: #000000;
}

[data-bs-theme="light"] #loading-overlay {
  background-color: #ffffff;
}

[data-bs-theme="dark"] #loading-overlay .loading-text {
  color: #ffffff;
}

[data-bs-theme="light"] #loading-overlay .loading-text {
  color: #000000;
}

.responsive-text {
  font-size: 1rem;
}

.minimalist {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.minimalist h2,
.minimalist h3 {
  color: #333;
}

.minimalist p {
  color: #555;
}

.reward-item {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.reward-item:last-child {
  border-bottom: none;
}

#content {
  flex: 1;
  min-width: 0;
}

#content h1 {
  color: var(--footer-link-color);
  font-family: "Bangers", Arial, Helvetica, sans-serif;
  border-bottom: 2px solid var(--footer-link-color);
}

#content h2 {
  color: var(--orange-button-bg);
  font-family: "Bangers", Arial, Helvetica, sans-serif;
}

#content h3 {
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

#content p {
  color: var(--text-color);
}

.row {
  margin-left: 0;
  margin-right: 0;
}

body,
p,
span {
  color: var(--text-color);
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-brand img {
  height: 40px;
  width: auto;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}

#theme-toggle {
  padding: 0.375rem 0.75rem;
  font-size: 1.1rem;
}

.header-logo {
  width: 10vw; /* 10% of the viewport width */
  max-width: 65px; /* Maximum size */
  min-width: 40px; /* Minimum size */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
}

.header-logo:hover {
  transform: scale(1.1);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#main-title {
  font-family: "Bangers", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 2rem;
}

#theme-toggle {
  border: none;
  cursor: pointer;
  color: var(--header-text);
  font-size: 30px;
  margin-left: auto;
}

/* Remove outline for all elements */
* {
  outline: none;
}

/* Specific styles for buttons and interactive elements */
button:focus,
a:focus,
input:focus,
select:focus {
  box-shadow: none;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Footer Styling */
footer {
  background-color: var(--bg-color);
  padding: 2rem 0;
  color: var(--text-color);
}

/* Badimo Message Card */
.badimo-message {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.badimo-message .card-header {
  background-color: var(--header-bg);
  color: var(--header-text);
  text-align: center;
  font-weight: bold;
}

.badimo-message .card-body {
  padding: 20px;
  text-align: center;
}

.badimo-message .lead {
  font-size: 1.2rem;
  color: var(--highlight-text);
}

.badimo-message .font-italic {
  font-style: italic;
  color: var(--text-color);
}

.badimo-message .font-weight-bold {
  font-weight: bold;
  color: var(--highlight-text);
}

/* Bigger View Details text */
.view-details-btn {
  font-size: 1.7rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.timeline-entry:hover .view-details-btn {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text);
}

/* Remove duplicate accordion styling */
.accordion-button,
.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: inherit;
}

.accordion-button:focus {
  box-shadow: none;
}

/* Light theme accordion */
[data-bs-theme="light"] .accordion-item {
  background-color: var(--gray-100);
}

[data-bs-theme="light"] .accordion-button {
  background-color: var(--gray-200);
  color: var(--text-color);
}

[data-bs-theme="light"] .accordion-button:not(.collapsed) {
  background-color: var(--gray-300);
  color: var(--header-bg);
}

/* Dark theme accordion */
[data-bs-theme="dark"] .accordion-item {
  background-color: #2c2c2c;
}

[data-bs-theme="dark"] .accordion-button {
  background-color: #3a3a3a;
  color: #ffffff;
}

[data-bs-theme="dark"] .accordion-button:not(.collapsed) {
  background-color: #4a4a4a;
  color: #ffcc00;
}

/* Light theme adjustments */
[data-bs-theme="light"] .timeline-entry:hover::after {
  box-shadow: 0 0 20px rgba(255, 69, 0, 0.2); /* Lighter glow for light theme */
}

/* Dark theme adjustments */
[data-bs-theme="dark"] .timeline-entry:hover::after {
  box-shadow: 0 0 20px rgba(255, 165, 0, 0.4); /* Stronger glow for dark theme */
}

[data-bs-theme="dark"] .timeline-entry:hover .view-details-btn {
  background-color: var(--button-primary-hover-bg);
}

/* Admin Links */
.admin-link {
  color: var(--footer-link-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.admin-link:hover {
  color: var(--footer-link-hover-color);
}

/* Version Info Styling */
.version-info {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.version-info p {
  margin: 0;
}

/* General Link Styles */
.btn-link {
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

/* Reddit Link Styles */
.reddit-link {
  color: var(--reddit-color);
  text-decoration: none;
}

.reddit-link:hover {
  color: #ffffff; /* White text on hover */
  background-color: var(--reddit-color); /* Reddit Orange background */
  transform: scale(1.05); /* Slightly larger */
}

/* Discord Link Styles */
.discord-link {
  color: var(--discord-color);
  text-decoration: none;
}

.discord-link:hover {
  color: #ffffff; /* White text on hover */
  background-color: var(--discord-color); /* Discord Blurple background */
  transform: scale(1.05); /* Slightly larger */
}

/* Wiki Link Styles */
.wiki-link {
  color: var(--wiki-color);
  text-decoration: none;
}

.wiki-link:hover {
  color: #ffffff; /* White text on hover */
  background-color: var(--wiki-color); /* Wiki Blue background */
  transform: scale(1.05); /* Slightly larger */
}

/* GitHub Link Styles */
.github-link {
  color: var(--github-color);
  text-decoration: none;
}

.github-link:hover {
  color: #ffffff; /* White text on hover */
  background-color: #000000; /* True black background */
  transform: scale(1.05); /* Slightly larger */
}

/* Dark Theme Adjustments */
/* Dark Theme Adjustments */
[data-bs-theme="dark"] .github-link:hover {
  background-color: #444c56; /* Lighter gray for better visibility in dark mode */
}
.season-title {
  border-bottom: 4px solid var(--border-color);
  color: var(--border-color) !important;
}
.custom-prizes-title {
  border-bottom: 4px solid var(--border-color);
  font-size: 2.5rem;
  color: var(--border-color) !important;
  font-family: "Bangers", Arial, Helvetica, sans-serif !important;
}

.season-rewards .list-group-item:hover {
  background-color: var(--hover-bg-color);
  color: var(--text-color);
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 1.1rem;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease, padding 0.3s ease;
}

/* Target all text elements inside the list item */
.season-rewards .list-group-item:hover * {
  text-decoration: none; /* Remove underline if any */
  color: var(--header-text); /* Change text color on hover */
  font-weight: bold; /* Make text bold */
}

.season-rewards .list-group-item:hover .badge {
  background-color: var(--header-bg);
  color: #fff;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.bonus-badge {
  margin-right: 0.5rem; /* Adjust the spacing as needed */
}

@media (max-width: 576px) {
  .season-rewards .badge {
    margin: 0 0.25rem; /* Add horizontal spacing between badges */
  }

  .season-rewards .d-flex {
    flex-direction: row; /* Ensure badges are in a row */
    flex-wrap: nowrap; /* Prevent wrapping */
  }
}
